.header-container {
  background-color: $white;
}

.page-header {
  padding-left: 20px;
  margin-top: 73px;
  @include media ( min-width $header-padding ) {
    padding-left: 0;
  }
  @include span-columns(12);
  h1 {
    font-size: 5rem;
    padding-top: 3rem;
    color: $grey-700;
    margin-bottom: 2rem;
  }
  p {
    // @extend h3;
    font-family: $ff-tisa;
    @include span-columns(11);
    @include media ( min-width $break-medium ) {
      @include span-columns(8);
    }
    font-size: 1.375em;
    font-weight: 500;
    color: $grey-500;
    margin-bottom: 1rem;
  }
}

.post-header {
  padding-left: 20px;
  margin-top: 73px;
  @include media ( min-width $header-padding ) {
    padding-left: 0;
  }
  @include span-columns(12);
  h1 {
    padding-top: 70px;
    margin-bottom: 40px;
    color: $orange-A100;
  }
  p {
    @include span-columns(11);
    @include media ( min-width $break-medium ) {
      @include span-columns(8);
    }
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1.375em;
    font-weight: 500;
    color: $grey-300;
    @include media ( min-width $break-medium ) {
      font-size: 1.5em;
      line-height: 1.25em;
    }
    @include media ( min-width $break-large ) {
      font-size: 1.75em;
      line-height: 1.25em;
    }
  }
}
