* {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}
body {
  @include outer-container(100%);
  background-color: $white;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

#content {
  background-color: $white;
  // padding-top: 58px;
  padding-left: 2px;
  padding-right: 2px;
}
.main {
  width: 100%;
  height: 100%;
}
.main-inner {
  @include span-columns(12);
}

.header-container {
  width: 100%;
  background-color: $grey-700;
}

.page-header-container {
  @include outer-container($max-width);
}

.page-header {
  padding-left: 20px;
  margin-top: 73px;
  @include media ( min-width $header-padding ) {
    padding-left: 0;
  }
  @include span-columns(12);
  h1 {
    padding-top: 40px;
    color: $grey-50;
    text-align: center;
  }
  p {
    @extend h3;
    @include span-columns(11);
    @include media ( min-width $break-medium ) {
      @include span-columns(8);
      @include shift(2);
    }
    font-size: 1.375em;
    text-align: center;
    line-height: 1.136em;
    font-weight: 500;
    color: $grey-300;
    @include media ( min-width $break-medium ) {
      font-size: 1.5em;
      line-height: 1.25em;
    }
    @include media ( min-width $break-large ) {
      font-size: 1.75em;
      line-height: 1.25em;
    }
  }
}

.post-header {
  padding-left: 20px;
  @include media ( min-width $header-padding ) {
    padding-left: 0;
  }
  @include span-columns(12);
  h1 {
    padding-top: 40px;
    color: $orange-A100;
  }
  p {
    @include span-columns(11);
    @include media ( min-width $break-medium ) {
      @include span-columns(8);
    }
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1.375em;
    line-height: 1.136em;
    font-weight: 500;
    color: $grey-300;
    @include media ( min-width $break-medium ) {
      font-size: 1.5em;
      line-height: 1.25em;
    }
    @include media ( min-width $break-large ) {
      font-size: 1.75em;
      line-height: 1.25em;
    }
  }
}
